VITE_LAMBDA_ENDPOINT=https://db-grql.com/api/secure-rQL/lambdas-json-run-node?db=codeLambdas&table=lambda&id=6d033980-4806-4e69-a3e8-a5f8f86d4cec&format=json
VITE_WS_URL=wss://db-grql.com
VITE_GEMINI_API_KEY=
